* {
  font-family: Droid Serif;
}

body {
  margin: 40px;
}

h2 {
  color: #dc8a00;
  font-family: oswald;
}

h1 {
  color: #dc8a00;
  text-align: center;
  font-family: oswald;
}

.exclude {
  font-family:initial;
}
