* {
  font-family: Droid Serif;
  padding: 25px;
}

}

h2 {
  color: #dc8a00;
  font-family: oswald;
}

h1 {
  color: #dc8a00;
  margin-top: 40px;
  text-align: center;
  font-family: oswald;
}

.exclude {
  font-family:initial;
}
