* {
  overflow-x: hidden;
}


nav {
  background-color: black;
  font-weight: bold;
  color: #fff;
  width: 100%;
  padding: 15px;
  position: fixed;
  margin: -10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: times;
}

a:hover {
  text-decoration: none;
  color: #7a0808;
  text-shadow: .8px .8px aliceblue;
  font-size: 28px;
}

.copyright {
  font-family: monospace;
  color: #fff;
  background-color: black;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  width: 100%;
  margin-top: 25px;
  position: static;
  text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

