nav {
  background-color: black;
  font-weight: bold;
  color: #fff;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: -10px;
  text-align: center;
  opacity: .9;
}

.navlink {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: times;
}

.navlink:hover {
  text-decoration: none;
  color: #7a0808;
  text-shadow: .8px .8px aliceblue;
}

.copyright {
  font-family: monospace;
  color: #fff;
  background-color: black;
  color: #fff;
  text-align: center;
  width: auto;
  padding: 25px;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: #10EFB4;
}
::-moz-selection {
  background: #10EFB4;
}
