nav {
  background-color: black;
  color: #fff;
  padding: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  opacity: .9;
  z-index: 1;
  font-size: 25px;
  font-family: "Nunito Sans", times;
}

.navlink {
  text-decoration: none;
  position: relative;
  color: #fff;
  transition: all .5s ease .2s;
}

.navlink:hover {
  color: #7a0808;
  text-shadow: .5px .5px #fff;
}

.navlink:after {
  content: "";
  position: absolute;
  left: 50%;
  height: 2.5px;
  width: 0;
  display: block;
  border-radius: 5px;
  background: #fff;
  transition: all .5s .2s;
}

.navlink:hover:after {
  width: 100%;
  left: 0;
}

/* Copyright */

.copyright {
  font-family: monospace;
  color: #fff;
  background-color: black;
  color: #fff;
  text-align: center;
  width: auto;
  padding: 25px;
}

/* Scrollbar and Selection */

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: #10EFB4;
}
