body {
   scroll-behavior: smooth;
}

nav {
  background-color: black;
  color: #fff;
  padding: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  opacity: .9;
  z-index: 1;
  font-size: 25px;
  font-family: "Nunito Sans", times;
}

.navlink {
  text-decoration: none;
  position: relative;
  color: #fff;
  transition: all .5s ease .2s;
}

.navlink:hover {
  color: #7a0808;
  text-shadow: .5px .5px #fff;
}

.navlink:after {
  content: "";
  position: absolute;
  left: 50%;
  height: 2px;
  width: 0;
  display: block;
  border-radius: 5px;
  background: #fff;
  transition: all .5s .2s;
}

.navlink:hover:after {
  width: 100%;
  left: 0;
}

/* Copyright */

.copyright {
  font-family: monospace;
  color: #fff;
  background-color: #000;
  text-align: center;
  width: auto;
  padding: 25px;
}

/* Scrollbar and Selection */

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: #10EFB4;
}


/* Back to Top */
.back-to-top {
   box-sizing: border-box;
   position: fixed;
   right: 25px;
   bottom: 25px;
   height: 60px;
   width: 60px;
   padding: 0;
   padding-bottom: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   border-radius: 50%;
   background-color: #f5f5f5;
   box-shadow: 0 0 5px #262626;
   color: #2aafd4;
   transition: .5s;
   z-index: 1;
}

.back-to-top:hover {
   text-shadow: 0 .5px 1px #757575,
                0 1px 1px #757575,
                0 1.5px 1px #757575,
                0 2px 1px #757575;
}
