* {
  text-align: center;
}

body {
   background-image: url("/Images/handmadepaper.png")
}

#thehead {
  text-shadow: 1px 1px #000;
  color: #6b30d2;
  font-family: cursive;
}

#sub {
  font-family: cursive;
  font-size: 18px;
  font-weight: 600;
  color: #0de689;
  text-shadow: .5px .5px black;
}

.newsflash {
  border: outset 8px #1c85e1;
  background-color: #FFFDD0;
  padding: 8px;
  margin: 8px;
  color: #000000;
  letter-spacing: .3px;
  word-spacing: 2px;
  line-height: 25px;
}

.column {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
