* {
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

#thehead {
  text-shadow: 1px 1px #000;
  color: #0888f8;
}

.newsflash {
  border: outset 8px #1c85e1;
  background-color: #1e3800;
  padding: 8px;
  margin: 8px;
  color: #fff;
}

.column {
  float: left;
  width: 50%;
}
