body {
  background-color: antiquewhite;
}

#thehead {
  margin-top: 50px;
  font-size: 3em;
  color: #276092;
  text-shadow: 2px 2px #444444;
}

.newsflash {
  border: outset 8px #1c85e1;
  background-color: #1e3800;
  padding: 8px;
  margin: 8px 48px;
  color: #fff;
}

.copyright {
  color: #fff;
  background-color: black;
  font-weight: bold;
  color: #fff;
  padding: 15px;
}

::-webkit-scrollbar {
    display: none;
}
