body {
  background: rgba(127,219,255,1);
  background: -webkit-linear-gradient(top, rgba(127,219,255,1) 0%, rgba(82,140,163,1) 100%);
  background: linear-gradient(to bottom, rgba(127,219,255,1) 0%, rgba(82,140,163,1) 100%);
}

#thehead {
  margin-top: 50px;
  font-size: 3em;
  color: #9625ff;
  text-shadow: 2px 2px #444444;
  text-align: center;
}

.newsflash {
  border: outset 8px #1c85e1;
  background-color: #1e3800;
  padding: 8px;
  margin: 8px 48px;
  color: #fff;
}

#subtitle {
  text-align: center;
  text-shadow: 1px 1px #fff;
  font-size: 25px;
}

.law-edits {
  border: outset 8px yellow;
  padding: 10px;
  margin: 15px 45px;
  background-image: url("/Images/fallen-traffic-cone.jpg");
  background: linear-gradient(rgba(255,255,255,.5), rgb(255 255 255 / 62%)), url("/Images/fallen-traffic-cone.jpg");
  background-size: 100%;
}

#nopaeg {
  color: #006cca;
  font-size: 25px;
  padding: 15px;
}

.officeholders {
  border: outset 8px yellow;
  padding: 10px;
  margin: 15px 45px;
  text-align: center;
}


div.polaroid {
  background-color: #0082e9;
  box-shadow: 3px 3px #000;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  width: 185px;
  height: 350px;
  margin: 15px;
  vertical-align: top;
}

img {
  width: 185px;
  height: 200px;
}

.span-strike-through {
  text-decoration: line-through;
  background-color: #d10000;
  opacity: .6;
  color:  #00ff8c;
}

hr {
  height: 10px;
  background-color: beige;
  border-radius: 25px;
  border: outset 2px lightblue;
}

.was-added-new {
  background-color: #68e32c;
  opacity: .6;
  color:  #161b07;
}
