<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<!-- Tailwind, 'cause it's cool -->
<link rel="stylesheet" href="tailwind.css">

<nav class="exclude p-4 bg-white text-xl fixed top-0 right-0 left-0 border-b-4 border-b-teal-400">
   <div class="inline-flex items-center">
      <img class="mr-4 h-16 inline-block" src="Assets/Images/favicon.png" alt="Lamp-post">
      <a class="-mt-[.35rem] uppercase inline-block text-4xl" href="index.html">Hillside</a>   
      <div class="nav-tip inline-block">
         <p class="mx-6 text-2xl">Schools <span class="bg-teal-300 p-1 px-2 rounded-full text-sm text-white font-bold">NEW!</span></p>
         <div class="nav-hov p-4 py-2 bg-white">
            <a href="Schools/index.html">Schools</a>
         </div>
      </div>
      <div class="nav-tip inline-block">
         <p class="mx-6 text-2xl">Libraries <span class="bg-teal-300 p-1 px-2 rounded-full text-sm text-white font-bold">NEW!</span></p>
         <div class="nav-hov p-4 py-2 bg-white">
            <a href="Libraries/index.html">Libraries</a>
         </div>
      </div>
      <div class="nav-tip inline-block">
         <p class="mx-6 text-2xl">Government</p>
         <div class="nav-hov p-4 py-2 bg-white">
            <a href="Government/index.html">Government</a>
            <a class="navlink" title="Hillside's Laws" href="/HTML/laws.html"> Laws of the Land</a> |
         </div>
      </div>
      <div class="nav-tip inline-block">
         <p class="mx-6 text-2xl">News</p>
         <div class="nav-hov p-6 pt-2 bg-white">
            <h2 class="m-2 ml-0 text-teal-500 uppercase font-semibold font-oswald">Newspapers</h2>
            <a href="News/index.html">The Pesky Journalist</a><br>
            <a title="Our Newspaper" href="/HTML/news.html"> The Hillside Chronicle</a>

            <h2 class="m-2 ml-0 mt-4 text-teal-500 uppercase font-semibold font-oswald">Newsletter</h2>
            <a href="News/index.html">Our Newsletter</a><br>
            <a href="News/index.html">Sign up</a>
         </div>
      </div>
   </div>
   <!-- <div class="bg-gray-200 inline-block">
      <a href="Main/fun.html">Random</a>
      <a href="Main/about.html">About</a>
   </div> -->
</nav>

<div class="back-to-top" onclick="window.scrollTo(0, 0);">&#9884;</div>

<style>
.nav-tip {
   position: relative;
}

.nav-tip a {
   border-bottom: solid .1rem lightgray;
   transition: .1s;
}

.nav-tip a:hover {
   box-shadow: inset 0 -.2rem lightgray;
}

.nav-tip:hover .nav-hov {
   pointer-events: auto;
   opacity: 1;
}

.nav-hov {
   position: absolute;
   top: 100%;
   left: .75rem;
   pointer-events: none;
   opacity: 0;
   min-width: 15rem;
   box-shadow: 0 0 .2rem #efefef;
   border-radius: .2rem;
   transition: .2s;
   transition-delay: opacity .2s;
}
</style>
