* {
  font-family: merriweather-sans;
  text-align: center;
}

nav {
  background-color: lime;
  font-weight: bold;
  color: #fff;
  width: 100%;
  margin: 100px 100px 0px 100px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}
