* {
  font-family: merriweather-sans;
  text-align: center;
  overflow-x: hidden;
}

nav {
  background-color: lime;
  font-weight: bold;
  color: #fff;
  width: 100%;
  padding: 100px 100px 0px 100px;
  margin: -25px;
}

a {
  text-decoration: none;
  color: #fff;
}

#thehead {
  font-size: 3em;
  color: #276092;
  text-shadow: 2px 2px #444444;
}
