/* Laws */
.laws {
   padding: 20px 150px;
}

h2 {
  color: #dc8a00;
  font-family: oswald;
}

h1 {
  color: #dc8a00;
  text-align: center;
  font-family: oswald;
}

.exclude {
  font-family: initial;
}

/* Fun Things */

.fun-things {
   margin-top: 60px;
   margin-bottom: 20px;
   background: rgba(1,255,111,1);
   background: -webkit-linear-gradient(top, rgba(1,255,111,1) 0%, rgba(2,163,72,1) 100%);
   background: linear-gradient(to bottom, rgba(1,255,111,1) 0%, rgba(2,163,72,1) 100%);
}

.fun-things h2 {
   text-align: center;
   font-family: cursive;
   color: #071267;
   font-size: 2.5em;
}
